<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
    <property name="LOG_HOME" value="/var/log/sengled"/>
    <property name="APP_NAME" value="media-server"/>
    <property name="DEVOPS_LOG_HOME" value="/var/log/service"/>

    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{0}:%line - %msg%n</pattern>
        </encoder>
    </appender>


    <!-- 按照每天生成日志文件 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/${APP_NAME}.log</file>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{0} - %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>
                ${LOG_HOME}/${APP_NAME}-%d{yyyy-MM-dd}.log
            </FileNamePattern>
            <maxHistory>5</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- 运维日志 -->
    <appender name="DevOps" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>
                ${DEVOPS_LOG_HOME}/${APP_NAME}-%d{yyyy-MM-dd}.log
            </FileNamePattern>
            <maxHistory>5</maxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %msg%n
            </pattern>
        </layout>
    </appender>


    <!-- 访问日志 -->
    <appender name="AccessLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/${APP_NAME}-access.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>
                ${LOG_HOME}/${APP_NAME}-access-%d{yyyy-MM-dd}.log
            </FileNamePattern>
            <maxHistory>5</maxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %msg%n
            </pattern>
        </layout>
    </appender>

    <!-- 错误日志 -->
    <appender name="ErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/${APP_NAME}-error.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter"><!-- 只打印错误日志 -->
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>
                ${LOG_HOME}/${APP_NAME}-error-%d{yyyy-MM-dd}.log
            </FileNamePattern>
            <maxHistory>5</maxHistory>
        </rollingPolicy>
        
        
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 普通日志输出 -->
    <root level="WARN">
        <appender-ref ref="ErrorLog"/>
    </root>

    <!-- 系统日志 -->
    <logger level="INFO" name="com.sengled">
        <appender-ref ref="FILE"/>
    </logger>

    <logger level="INFO" name="com.sengled.media.plugin.algorithm"/>
    <logger level="INFO" name="com.sengled.media.clust"/>
    <logger level="INFO" name="com.sengled.media.bootstrap.cache"/>
    <logger level="INFO" name="com.sengled.media.dispatcher"/>
    <logger level="INFO" name="com.sengled.media.dispatcher.DefaultMediaDispatcher"></logger>
    <logger level="INFO" name="com.sengled.media.dispatcher.MediaChannel"></logger>
    
    <!-- spring 日志 -->
    <logger level="INFO" name="org.springframework">
        <appender-ref ref="FILE"/>
    </logger>

    <!-- 启动输出 -->
    <logger level="INFO" name="com.sengled.media.MediaBaseServer">
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- 访问日志输出 -->
    <logger level="INFO" name="org.eclipse.jetty.server.RequestLog">
        <appender-ref ref="AccessLog"/>
    </logger>

    <!-- 运维日志输出 -->
    <logger level="INFO" name="DevOps">
        <appender-ref ref="DevOps"/>
    </logger>
</configuration>